* {
    background-color: #ccffe6;
    font-family: "Noto sans JP";
}

header * {
    /* background-color: #cce5ff; */
    padding: auto 5%;
    text-align: center;
}
header h1 {
    font-size: 40px;
}

#msg_box {
    margin: 10% 10%;
    border: solid;
    border-color: black;
}

#msg_box > h1 {
    text-align: center;    
}